In [1]:
# The code was removed by Watson Studio for sharing.

In [2]:
import pandas as pd
from datetime import datetime
from IPython.core.display import HTML
HTML("<style>.container { width:100%; }</style>")

# Unit Informations

In [3]:
energies = ["coal", "gas", "diesel", "wind"]
co2_cost = pd.DataFrame({"co2_cost": [30, 5, 15, 0]})
co2_cost["energy"] = energies

co2_cost

   co2_cost  energy
0        30    coal
1         5     gas
2        15  diesel
3         0    wind

In [4]:
all_units = ["coal1", "coal2", 
             "gas1", "gas2", "gas3", "gas4", 
             "diesel1", "diesel2", "diesel3", "diesel4"]


ucp_raw_unit_data = {
        "energy": ["coal", "coal", "gas", "gas", "gas", "gas", "diesel", "diesel", "diesel", "diesel"],
        "initial" : [400, 350, 205, 52, 155, 150, 78, 76, 0, 0],
        "min_gen": [100, 140, 78, 52, 54.25, 39, 17.4, 15.2, 4, 2.4],
        "max_gen": [425, 365, 220, 210, 165, 158, 90, 87, 20, 12],
        "operating_max_gen": [400, 350, 205, 197, 155, 150, 78, 76, 20, 12],
        "min_uptime": [15, 15, 6, 5, 5, 4, 3, 3, 1, 1],
        "min_downtime":[9, 8, 7, 4, 3, 2, 2, 2, 1, 1],
        "ramp_up":   [212, 150, 101.2, 94.8, 58, 50, 40, 60, 20, 12],
        "ramp_down": [183, 198, 95.6, 101.7, 77.5, 60, 24, 45, 20, 12],
        "start_cost": [5000, 4550, 1320, 1291, 1280, 1105, 560, 554, 300, 250],
        "fixed_cost": [208.61, 117.37, 174.12, 172.75, 95.353, 144.52, 54.417, 54.551, 79.638, 16.259],
        "variable_cost": [22.536, 31.985, 70.5, 69, 32.146, 54.84, 40.222, 40.522, 116.33, 76.642],
        }

df_units = pd.DataFrame(ucp_raw_unit_data)

df_units["Unit"] = all_units

df_units

,energy,initial,min_gen,max_gen,operating_max_gen,min_uptime,min_downtime,ramp_up,ramp_down,start_cost,fixed_cost,variable_cost,Unit
0,coal,400,100.00,425,400,15,9,212.0,183.0,5000,208.610,22.536,coal1
1,coal,350,140.00,365,350,15,8,150.0,198.0,4550,117.370,31.985,coal2
2,gas,205,78.00,220,205,6,7,101.2,95.6,1320,174.120,70.500,gas1
3,gas,52,52.00,210,197,5,4,94.8,101.7,1291,172.750,69.000,gas2
4,gas,155,54.25,165,155,5,3,58.0,77.5,1280,95.353,32.146,gas3
5,gas,150,39.00,158,150,4,2,50.0,60.0,1105,144.520,54.840,gas4
6,diesel,78,17.40,90,78,3,2,40.0,24.0,560,54.417,40.222,diesel1
7,diesel,76,15.20,87,76,3,2,60.0,45.0,554,54.551,40.522,diesel2
8,diesel,0,4.00,20,20,1,1,20.0,20.0,300,79.638,116.330,diesel3
9,diesel,0,2.40,12,12,1,1,12.0,12.0,250,16.259,76.642,diesel4

In [5]:
Units = pd.merge( df_units, co2_cost, on = "energy" )
Units

,energy,initial,min_gen,max_gen,operating_max_gen,min_uptime,min_downtime,ramp_up,ramp_down,start_cost,fixed_cost,variable_cost,Unit,co2_cost
0,coal,400,100.00,425,400,15,9,212.0,183.0,5000,208.610,22.536,coal1,30
1,coal,350,140.00,365,350,15,8,150.0,198.0,4550,117.370,31.985,coal2,30
2,gas,205,78.00,220,205,6,7,101.2,95.6,1320,174.120,70.500,gas1,5
3,gas,52,52.00,210,197,5,4,94.8,101.7,1291,172.750,69.000,gas2,5
4,gas,155,54.25,165,155,5,3,58.0,77.5,1280,95.353,32.146,gas3,5
5,gas,150,39.00,158,150,4,2,50.0,60.0,1105,144.520,54.840,gas4,5
6,diesel,78,17.40,90,78,3,2,40.0,24.0,560,54.417,40.222,diesel1,15
7,diesel,76,15.20,87,76,3,2,60.0,45.0,554,54.551,40.522,diesel2,15
8,diesel,0,4.00,20,20,1,1,20.0,20.0,300,79.638,116.330,diesel3,15
9,diesel,0,2.40,12,12,1,1,12.0,12.0,250,16.259,76.642,diesel4,15

# Demand

In [6]:
raw_demand = [1259.0, 1439.0, 1289.0, 1211.0, 1433.0, 1287.0, 1285.0, 1227.0, 1269.0, 1158.0, 1277.0, 1417.0, 1294.0, 1396.0, 1414.0, 1386.0,
              1302.0, 1215.0, 1433.0, 1354.0, 1436.0, 1285.0, 1332.0, 1172.0, 1446.0, 1367.0, 1243.0, 1275.0, 1363.0, 1208.0, 1394.0, 1345.0, 
              1217.0, 1432.0, 1431.0, 1356.0, 1360.0, 1364.0, 1286.0, 1440.0, 1440.0, 1313.0, 1389.0, 1385.0, 1265.0, 1442.0, 1435.0, 1432.0, 
              1280.0, 1411.0, 1440.0, 1258.0, 1333.0, 1293.0, 1193.0, 1440.0, 1306.0, 1264.0, 1244.0, 1368.0, 1437.0, 1236.0, 1354.0, 1356.0, 
              1383.0, 1350.0, 1354.0, 1329.0, 1427.0, 1163.0, 1339.0, 1351.0, 1174.0, 1235.0, 1439.0, 1235.0, 1245.0, 1262.0, 1362.0, 1184.0, 
              1207.0, 1359.0, 1443.0, 1205.0, 1192.0, 1364.0, 1233.0, 1281.0, 1295.0, 1357.0, 1191.0, 1329.0, 1294.0, 1334.0, 1265.0, 1207.0, 
              1365.0, 1432.0, 1199.0, 1191.0, 1411.0, 1294.0, 1244.0, 1256.0, 1257.0, 1224.0, 1277.0, 1246.0, 1243.0, 1194.0, 1389.0, 1366.0, 
              1282.0, 1221.0, 1255.0, 1417.0, 1358.0, 1264.0, 1205.0, 1254.0, 1276.0, 1435.0, 1335.0, 1355.0, 1337.0, 1197.0, 1423.0, 1194.0, 
              1310.0, 1255.0, 1300.0, 1388.0, 1385.0, 1255.0, 1434.0, 1232.0, 1402.0, 1435.0, 1160.0, 1193.0, 1422.0, 1235.0, 1219.0, 1410.0, 
              1363.0, 1361.0, 1437.0, 1407.0, 1164.0, 1392.0, 1408.0, 1196.0, 1430.0, 1264.0, 1289.0, 1434.0, 1216.0, 1340.0, 1327.0, 1230.0, 
              1362.0, 1360.0, 1448.0, 1220.0, 1435.0, 1425.0, 1413.0, 1279.0, 1269.0, 1162.0, 1437.0, 1441.0, 1433.0, 1307.0, 1436.0, 1357.0, 
              1437.0, 1308.0, 1207.0, 1420.0, 1338.0, 1311.0, 1328.0, 1417.0, 1394.0, 1336.0, 1160.0, 1231.0, 1422.0, 1294.0, 1434.0, 1289.0]

In [7]:
Demand = pd.DataFrame(raw_demand, columns = ["demand"])

In [8]:
Demand["Date"] = pd.date_range(datetime.today().date(), periods=len(raw_demand)).tolist()
Demand["Date_Sequence"] =["day"+ str(i) for i in range(1, len(Demand)+1)]

In [9]:
Demand.head()

   demand       Date Date_Sequence
0  1259.0 2023-08-01          day1
1  1439.0 2023-08-02          day2
2  1289.0 2023-08-03          day3
3  1211.0 2023-08-04          day4
4  1433.0 2023-08-05          day5

In [10]:
from dse_do_utils import DataManager, OptimizationEngine,ScenarioManager

In [22]:
MODEL_NAME = 'Unit_Commitment'
SCENARIO_NAME = 'Base_Scenario' 
sm = ScenarioManager(model_name=MODEL_NAME, scenario_name=SCENARIO_NAME, local_root="/")#, project = project

In [15]:
InputTables, outputTables = {}, {}
InputTables.keys()

dict_keys([])

In [16]:
InputTables['Units']=Units
InputTables['Demand']=Demand

In [23]:
sm.write_data_to_excel()

OSError: Cannot save file into a non-existent directory: '\assets\data_asset'