In [54]:
# The code was removed by Watson Studio for sharing.

Company X has two plants, Plant1 and Plant2, which can produce Product1 and Product2

The cost of producing Product1 in Plant1 and Plant2 are 2 and 3 dollars, respectively

The cost of producing Product2 in Plant1 and Plant2 are 4 and 5 dollars, respectively

There are two customers, Customer1 and Customer2

Customer1 needs 200 of Product1 and 300 of Product2

Customer2 needs 500 of Product1 and 400 of Product2

Cost of transportation of Product1 from Plant1 to Customer1 and Customer2 is 0.2 and 0.3 dollars.

Cost of transportation of Product2 from Plant2 to Customer1 and Customer2 is 0.5 and 0.4 dollars.

What is the best production and transportation plan that minimizes the costs?

In [2]:
!pip install dse_do_utils

Collecting dse_do_utils
  Downloading dse_do_utils-0.5.4.4-py3-none-any.whl (83 kB)
     |████████████████████████████████| 83 kB 2.4 MB/s  eta 0:00:01
Installing collected packages: dse-do-utils
Successfully installed dse-do-utils-0.5.4.4

In [3]:
from dse_do_utils import DataManager, OptimizationEngine,ScenarioManager
from docplex.mp.model import Model
import pandas as pd
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)

from docplex import __version__
__version__

'2.22.213'

In [4]:
class CplexSum():
    """Function class that adds a series of dvars into a cplex sum expression.
    To be used as a custom aggregation in a groupby.
    Usage:
        df2 = df1.groupby(['a']).agg({'xDVar':CplexSum(engine.mdl)}).rename(columns={'xDVar':'expr'})

    Sums the dvars in the 'xDVar' column into an expression
    """
    def __init__(self, mdl):
        self.mdl = mdl
    def __call__(self, dvar_series):
        return self.mdl.sum(dvar_series)


def extract_solution(df, extract_dvar_names=None, drop_column_names=None, drop:bool=True):
    df = df.copy()
    """Generalized routine to extract a solution value. 
    Can remove the dvar column from the df to be able to have a clean df for export into scenario."""
    if extract_dvar_names is not None:
        for xDVarName in extract_dvar_names:
            if xDVarName in df.columns:
                df[f'{xDVarName}_Solution'] = [dvar.solution_value for dvar in df[xDVarName]]
                if drop:
                    df = df.drop([xDVarName], axis = 1)
    if drop and drop_column_names is not None:
        for column in drop_column_names:
            if column in df.columns:
                df = df.drop([column], axis = 1)
    return df

Define Data Models

In [17]:
Plants = pd.DataFrame(["Plant1","Plant2"], columns = ["PlantName"])

Customers = pd.DataFrame(["Customer1","Customer2"], columns = ["CustomerName"])

Products = pd.DataFrame(["Product1","Product2"], columns = ["ProductName"])

ProductionCosts = pd.DataFrame([["Plant1","Product1",2],
                                ["Plant2","Product1",3],
                                ["Plant1","Product2",4],
                                ["Plant2","Product2",5]], columns = ["PlantName","ProductName","ProductionCost"]) 


Demand = pd.DataFrame([["Customer1","Product1",200],
                       ["Customer1","Product2",300],
                       ["Customer2","Product1",500],
                       ["Customer2","Product2",400]], columns = ["CustomerName","ProductName","Demand"])

TransportationCosts = pd.DataFrame([["Plant1","Customer1","Product1",0.2],
                                    ["Plant1","Customer1","Product2",0.5],
                                    ["Plant1","Customer2","Product1",0.3],
                                    ["Plant1","Customer2","Product2",0.4],
                                    ["Plant2","Customer1","Product1",0.25],
                                    ["Plant2","Customer1","Product2",0.2],
                                    ["Plant2","Customer2","Product1",0.35],
                                    ["Plant2","Customer2","Product2",0.3]], columns = ["PlantName","CustomerName","ProductName","TransportationCost"]) 

ProductionCapacity = pd.DataFrame([["Plant1","Product1",500],
                                   ["Plant2","Product1",400],
                                   ["Plant1","Product2",300],
                                   ["Plant2","Product2",600]], columns = ["PlantName","ProductName","Capacity"])

## Specify the primary key, convert primary key column to index

In [18]:
Plants = Plants.set_index(["PlantName"], verify_integrity=True)

Customers = Customers.set_index(["CustomerName"], verify_integrity=True)

Products = Products.set_index(["ProductName"], verify_integrity=True)

ProductionCosts= ProductionCosts.set_index(["PlantName","ProductName"], verify_integrity=True)

Demand= Demand.set_index(["CustomerName","ProductName"], verify_integrity=True)

TransportationCosts= TransportationCosts.set_index(["PlantName","CustomerName","ProductName"], verify_integrity=True)

ProductionCapacity= ProductionCapacity.set_index(["PlantName","ProductName"], verify_integrity=True)

## Save the data into scenario manager

In [24]:
MODEL_NAME = 'SupplyChain'
SCENARIO_NAME = 'Base_Scenario' 
mdl = Model(MODEL_NAME)

In [26]:
for i in InputTables.values():
    display(i)

Empty DataFrame
Columns: []
Index: [Plant1, Plant2]

Empty DataFrame
Columns: []
Index: [Customer1, Customer2]

Empty DataFrame
Columns: []
Index: [Product1, Product2]

                       ProductionCost
PlantName ProductName
Plant1    Product1                  2
Plant2    Product1                  3
Plant1    Product2                  4
Plant2    Product2                  5

                          Demand
CustomerName ProductName
Customer1    Product1        200
             Product2        300
Customer2    Product1        500
             Product2        400

                                    TransportationCost
PlantName CustomerName ProductName
Plant1    Customer1    Product1                   0.20
                       Product2                   0.50
          Customer2    Product1                   0.30
                       Product2                   0.40
Plant2    Customer1    Product1                   0.25
                       Product2                   0.20
          Customer2    Product1                   0.35
                       Product2                   0.30

                       Capacity
PlantName ProductName
Plant1    Product1          500
Plant2    Product1          400
Plant1    Product2          300
Plant2    Product2          600

## Define Decision Variables

What are the production amount of Product1 and Product2 in either Plant1 or Plant2

How much of Product1 or Product2 should be sent from Plant1 and Plant2 to Customer1 and Customer2

In [27]:
def continuous_var_series(df, mdl,**kargs):
    return pd.Series(mdl.continuous_var_list(df.index, **kargs), index = df.index)

In [28]:
ProductionPlan = pd.merge(Products.reset_index(drop=False),Plants.reset_index(drop=False),how="cross").set_index(["ProductName","PlantName"])
ProductionPlan["X_production"]= continuous_var_series(ProductionPlan, mdl, name="X_production", lb = 0)
ProductionPlan

                                       X_production
ProductName PlantName
Product1    Plant1     X_production_Product1_Plant1
            Plant2     X_production_Product1_Plant2
Product2    Plant1     X_production_Product2_Plant1
            Plant2     X_production_Product2_Plant2

In [29]:
TransportationPlan = pd.merge(Products.reset_index(drop=False),Plants.reset_index(drop=False),how="cross").merge(Customers.reset_index(drop=False),how="cross").set_index(["ProductName","PlantName","CustomerName"])
TransportationPlan["X_transportation"]= continuous_var_series(TransportationPlan, mdl, name="X_transportation", lb = 0)
TransportationPlan

                                                              X_transportation
ProductName PlantName CustomerName
Product1    Plant1    Customer1     X_transportation_Product1_Plant1_Customer1
                      Customer2     X_transportation_Product1_Plant1_Customer2
            Plant2    Customer1     X_transportation_Product1_Plant2_Customer1
                      Customer2     X_transportation_Product1_Plant2_Customer2
Product2    Plant1    Customer1     X_transportation_Product2_Plant1_Customer1
                      Customer2     X_transportation_Product2_Plant1_Customer2
            Plant2    Customer1     X_transportation_Product2_Plant2_Customer1
                      Customer2     X_transportation_Product2_Plant2_Customer2

## Define Constraints

### We can't generate more than the plant capacity

In [30]:
Plant_Product_Capacity = pd.merge(ProductionPlan.reset_index(drop=False), ProductionCapacity, on = ["ProductName","PlantName"])
Plant_Product_Capacity

  ProductName PlantName                  X_production  Capacity
0    Product1    Plant1  X_production_Product1_Plant1       500
1    Product1    Plant2  X_production_Product1_Plant2       400
2    Product2    Plant1  X_production_Product2_Plant1       300
3    Product2    Plant2  X_production_Product2_Plant2       600

In [31]:
for row in Plant_Product_Capacity.itertuples():
    mdl.add_constraint(row.X_production <= row.Capacity)

In [32]:
mdl.get_constraint_by_index(3)

docplex.mp.LinearConstraint[](X_production_Product2_Plant2,LE,600)

###  We must deliver at least the value of demand

In [33]:
Delivery = TransportationPlan.reset_index(drop = False)
Delivery = Delivery[["ProductName","CustomerName","X_transportation"]].groupby(["ProductName","CustomerName"]).agg(CplexSum(mdl)).reset_index(drop = False).rename(columns = {"X_transportation":"Total_Delivered"})

In [34]:
Delivery = pd.merge(Delivery, Demand.reset_index(drop = False), on = ["ProductName","CustomerName"] )
Delivery

,ProductName,CustomerName,Total_Delivered,Demand
0,Product1,Customer1,X_transportation_Product1_Plant1_Customer1+X_transportation_Product1_Plant2_Customer1,200
1,Product1,Customer2,X_transportation_Product1_Plant1_Customer2+X_transportation_Product1_Plant2_Customer2,500
2,Product2,Customer1,X_transportation_Product2_Plant1_Customer1+X_transportation_Product2_Plant2_Customer1,300
3,Product2,Customer2,X_transportation_Product2_Plant1_Customer2+X_transportation_Product2_Plant2_Customer2,400

In [35]:
for row in Delivery.itertuples():
    mdl.add_constraint(row.Total_Delivered >= row.Demand)

### We cannot ship more than what we produced in a plant

In [36]:
Shipment = TransportationPlan.reset_index(drop = False)
Shipment = Shipment[["ProductName","PlantName","X_transportation"]].groupby(["ProductName","PlantName"]).agg(CplexSum(mdl)).reset_index(drop = False).rename(columns = {"X_transportation":"Total_Shipped"})
Shipment

,ProductName,PlantName,Total_Shipped
0,Product1,Plant1,X_transportation_Product1_Plant1_Customer1+X_transportation_Product1_Plant1_Customer2
1,Product1,Plant2,X_transportation_Product1_Plant2_Customer1+X_transportation_Product1_Plant2_Customer2
2,Product2,Plant1,X_transportation_Product2_Plant1_Customer1+X_transportation_Product2_Plant1_Customer2
3,Product2,Plant2,X_transportation_Product2_Plant2_Customer1+X_transportation_Product2_Plant2_Customer2

In [37]:
Plant_Shipment = pd.merge(ProductionPlan.reset_index(drop= False), Shipment, on =[ "ProductName","PlantName"])
Plant_Shipment

,ProductName,PlantName,X_production,Total_Shipped
0,Product1,Plant1,X_production_Product1_Plant1,X_transportation_Product1_Plant1_Customer1+X_transportation_Product1_Plant1_Customer2
1,Product1,Plant2,X_production_Product1_Plant2,X_transportation_Product1_Plant2_Customer1+X_transportation_Product1_Plant2_Customer2
2,Product2,Plant1,X_production_Product2_Plant1,X_transportation_Product2_Plant1_Customer1+X_transportation_Product2_Plant1_Customer2
3,Product2,Plant2,X_production_Product2_Plant2,X_transportation_Product2_Plant2_Customer1+X_transportation_Product2_Plant2_Customer2

In [38]:
for row in Plant_Shipment.itertuples():
    mdl.add_constraint(row.Total_Shipped <= row.X_production)

# KPIs and Objective Function

## Production Cost

In [39]:
TotalProductionCosts = pd.merge(ProductionPlan.reset_index(drop = False), ProductionCosts.reset_index(drop = False), on = ["ProductName","PlantName"])
display(TotalProductionCosts)

Total_Production_Costs = mdl.sum(TotalProductionCosts.ProductionCost * TotalProductionCosts.X_production)
mdl.add_kpi(Total_Production_Costs   , "Total_Production_Costs")

  ProductName PlantName                  X_production  ProductionCost
0    Product1    Plant1  X_production_Product1_Plant1               2
1    Product1    Plant2  X_production_Product1_Plant2               3
2    Product2    Plant1  X_production_Product2_Plant1               4
3    Product2    Plant2  X_production_Product2_Plant2               5

DecisionKPI(name=Total_Production_Costs,expr=2X_production_Product1_Plant1+3X_production_Product1_Plant2+4X_p..)

In [40]:
TotalTransportationCosts = pd.merge(TransportationPlan.reset_index(drop = False), TransportationCosts.reset_index(drop = False), on = ["ProductName","CustomerName","PlantName"])
display(TotalTransportationCosts)

Total_Transportation_Costs = mdl.sum(TotalTransportationCosts.TransportationCost * TotalTransportationCosts.X_transportation)
mdl.add_kpi(Total_Transportation_Costs   , "Total_Transportation_Costs")

,ProductName,PlantName,CustomerName,X_transportation,TransportationCost
0,Product1,Plant1,Customer1,X_transportation_Product1_Plant1_Customer1,0.20
1,Product1,Plant1,Customer2,X_transportation_Product1_Plant1_Customer2,0.30
2,Product1,Plant2,Customer1,X_transportation_Product1_Plant2_Customer1,0.25
3,Product1,Plant2,Customer2,X_transportation_Product1_Plant2_Customer2,0.35
4,Product2,Plant1,Customer1,X_transportation_Product2_Plant1_Customer1,0.50
5,Product2,Plant1,Customer2,X_transportation_Product2_Plant1_Customer2,0.40
6,Product2,Plant2,Customer1,X_transportation_Product2_Plant2_Customer1,0.20
7,Product2,Plant2,Customer2,X_transportation_Product2_Plant2_Customer2,0.30

DecisionKPI(name=Total_Transportation_Costs,expr=0.200X_transportation_Product1_Plant1_Customer1+0.300X_transport..)

In [41]:
Total_Costs = Total_Transportation_Costs + Total_Production_Costs
mdl.add_kpi(Total_Costs   , "Total_Costs")

DecisionKPI(name=Total_Costs,expr=2X_production_Product1_Plant1+3X_production_Product1_Plant2+4X_p..)

In [42]:
mdl.print_information()

Model: SupplyChain
 - number of variables: 12
   - binary=0, integer=0, continuous=12
 - number of constraints: 12
   - linear=12
 - parameters: defaults
 - objective: none
 - problem type is: LP

# Solve

In [43]:
mdl.minimize(Total_Costs)
mdl.solve()

docplex.mp.solution.SolveSolution(obj=5210,values={X_production_Product1..

In [44]:
mdl.report()

* model SupplyChain solved with objective = 5210.000
*  KPI: Total_Production_Costs     = 4800.000
*  KPI: Total_Transportation_Costs = 410.000
*  KPI: Total_Costs                = 5210.000

# Postprocessing

In [50]:
ProductionPlan = extract_solution(Plant_Product_Capacity, extract_dvar_names= ['X_production'] ,drop=False)
ProductionPlan

,ProductName,PlantName,X_production,Capacity,X_production_Solution
0,Product1,Plant1,X_production_Product1_Plant1,500,500.0
1,Product1,Plant2,X_production_Product1_Plant2,400,200.0
2,Product2,Plant1,X_production_Product2_Plant1,300,300.0
3,Product2,Plant2,X_production_Product2_Plant2,600,400.0

In [49]:
TransportationPlan = extract_solution(TransportationPlan, extract_dvar_names= ['X_transportation'] ,drop=False)
TransportationPlan

                                                              X_transportation  \
ProductName PlantName CustomerName
Product1    Plant1    Customer1     X_transportation_Product1_Plant1_Customer1
                      Customer2     X_transportation_Product1_Plant1_Customer2
            Plant2    Customer1     X_transportation_Product1_Plant2_Customer1
                      Customer2     X_transportation_Product1_Plant2_Customer2
Product2    Plant1    Customer1     X_transportation_Product2_Plant1_Customer1
                      Customer2     X_transportation_Product2_Plant1_Customer2
            Plant2    Customer1     X_transportation_Product2_Plant2_Customer1
                      Customer2     X_transportation_Product2_Plant2_Customer2

                                    X_transportation_Solution
ProductName PlantName CustomerName
Product1    Plant1    Customer1                           0.0
                      Customer2                         500.0
            Plant2    Customer1                         200.0
                      Customer2                           0.0
Product2    Plant1    Customer1                           0.0
                      Customer2                         300.0
            Plant2    Customer1                         300.0
                      Customer2                         100.0

In [45]:
Delivery = extract_solution(Delivery, extract_dvar_names= ['Total_Delivered'] ,drop=False)

Delivery

,ProductName,CustomerName,Total_Delivered,Demand,Total_Delivered_Solution
0,Product1,Customer1,X_transportation_Product1_Plant1_Customer1+X_transportation_Product1_Plant2_Customer1,200,200.0
1,Product1,Customer2,X_transportation_Product1_Plant1_Customer2+X_transportation_Product1_Plant2_Customer2,500,500.0
2,Product2,Customer1,X_transportation_Product2_Plant1_Customer1+X_transportation_Product2_Plant2_Customer1,300,300.0
3,Product2,Customer2,X_transportation_Product2_Plant1_Customer2+X_transportation_Product2_Plant2_Customer2,400,400.0

## save the data into watson studio optimization GUI

In [56]:
InputTables={}

InputTables['Plants']=Plants
InputTables['Customers']=Customers
InputTables['Products']=Products
InputTables['ProductionCosts']=ProductionCosts
InputTables['Demand']=Demand
InputTables['TransportationCosts']=TransportationCosts
InputTables['ProductionCapacity']=ProductionCapacity

sm = ScenarioManager(model_name=MODEL_NAME, scenario_name=SCENARIO_NAME, project =project )
sm.inputs=InputTables

In [57]:
OutputTables={}
OutputTables['Delivery']=Delivery
OutputTables['TransportationPlan']=TransportationPlan
OutputTables['ProductionPlan']=ProductionPlan
sm.outputs=OutputTables

In [58]:
sm.write_data_into_scenario_s(model_name=MODEL_NAME, scenario_name=SCENARIO_NAME, inputs=InputTables, outputs=OutputTables)